# Disable power saving features
SUBSYSTEM=="pci", DRIVERS=="amdgpu", ATTR{pp_features}="0x2743a36c0dff"
# Set power profile to 3D_FULL_SCREEN
SUBSYSTEM=="pci", DRIVERS=="amdgpu", ATTR{power_dpm_force_performance_level}="manual"
SUBSYSTEM=="pci", DRIVERS=="amdgpu", ATTR{pp_power_profile_mode}="4"
