# Set power profile to 3D_FULL_SCREEN
SUBSYSTEM=="pci", DRIVERS=="amdgpu", ATTR{power_dpm_force_performance_level}="manual"
SUBSYSTEM=="pci", DRIVERS=="amdgpu", ATTR{pp_power_profile_mode}="1"
